.all{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contenido{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: var(--color-secundario);
    grid-template-areas: 
    "clientes clientes productos productos pedidos pedidos"
    "ganancias ganancias ganancias ganancias ganancias ganancias";
    gap: 30px;
    padding: 30px;
}

.card-clientes{
    grid-area: clientes;
}

.card-productos{
    grid-area: productos;
}

.card-pedidos{
    grid-area: pedidos;
}

.card-ganancias{
    grid-area: ganancias;
}

.card{
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
}

.card-title{
    align-self: self-start;
}

.card-content{
    flex-grow: 1.5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content p{
    font-size: 50px;
}