<div class="contenido">
    <div class="form-all">
      <h2 class="poppins-bold-italic">TECHPLAYZONE</h2>
      <form [formGroup]="registerForm" (ngSubmit)="registrarUsuario(registerForm.value)">
        <div>
          <label class="poppins-regular" for="username">Usuario Deseado:</label>
          <input class="poppins-regular" id="username" type="text" formControlName="usu_user">
        </div>
        <div>
          <label class="poppins-regular" for="password">Contraseña Deseada:</label>
          <div class="password-container">
            <input class="poppins-regular" id="password" [type]="mostrarContrasena ? 'text' : 'password'"formControlName="usu_pass">
            <span class="toggle-password" (click)="mostrarContrasena = !mostrarContrasena">
              <i [class]="mostrarContrasena ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
            </span>
          </div>
        </div>
        <button class="poppins-medium" type="submit"type="submit">Registrarse</button>
      </form>
    </div>
  </div>
  