<br>

<footer class="bg-light text-dark pt-5 pb-4">
        <div class="row text-center text-md-start">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3" >
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Nosotros</h5>
                <hr class="mb-4">
                <p class="part1">
                    Descubre una nueva dimensión de diversión y tecnología en TECHPLAYZONE! 
                    Encuentra los mejores videojuegos y accesorios para computadora, todo en un solo lugar.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 ">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Menu</h5>
                <hr class="mb-4">
                <p>
                    <a href="#" class="text-dark"> Inicio </a>
                </p>
                <p>
                    <a href="#" class="text-dark"> Tiendas </a>
                </p>

                <p>
                    <a href="#" class="text-dark"> Credito directo</a>
                </p>
               
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 ">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Servicio al cliente</h5>
                <hr class="mb-4">
               
                <p>
                    <a href="#" class="text-dark"> Tus ordenes </a>
                </p>

                <p>
                    <a href="#" class="text-dark">Terminos y condiciones </a>
                </p>
                <p>
                    <a href="#" class="text-dark"> Ayuda </a>
                </p>
            </div>

        

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 ">
                <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Contactanos</h5>
                <hr class="mb-4">
                <p>
                    <li class="fas fa-home me-3"> </li> Machala, UTMACH
                </p>
                <p>
                    <li class="fas fa-envelope me-3"> </li> tplayzone.org.com
                </p>
                <p>
                    <li class="fas fa-phone me-3"> </li> +593992470073
                </p>
                
            
            </div>
            <hr class="mb-4">
            <div class="text-center mb2">
                <p>
                    Copyrigth Todos los derechos reservados
                    <a href="#">
                        <strong class="text-primary"> TECHPLAYZONE</strong>
                    </a>
                </p>
            </div>
            <div class="text-center">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        <a href="#" class="text-dark"> <i class="fab fa-facebook"></i></a>

                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-dark"> <i class="fab fa-twitter"></i></a>

                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-dark"> <i class="fab fa-google-plus"></i></a>

                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-dark"> <i class="fab fa-linkedin-in"></i></a>

                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-dark"> <i class="fab fa-youtube"></i></a>

                    </li>
                </ul>

            </div>


        </div>


</footer>