h2{
    margin-top: 15px;
    text-align: center;
}

/* Estilos para la ventana modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscurecido */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: aparecerModal 0.3s ease forwards; /* Aplicar la animación */
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 75vw;
    height: 75vh;
  }

  .close {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 24px;
    color: #000;
    cursor: pointer;
  }

.modal-content img{
    height: 100%;
}

.modal-content h2{
    text-align: start;
}

.informacion{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 15px;
}

.contenido{
    position: relative;
    align-self: flex-start;
    flex-grow: 2;
    height: 100%;
}

.contenido .precio{
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
}

.botones{
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 0;
}

.botones input{
    width: 45px;
}

.boton-buy{
    border-radius: 0 !important;
    background-color: orange;
    outline: none;
    border: none;
    transition: all 0.3s ease;
}

.boton-buy:hover{
    background-color: rgb(216, 140, 0);
}
  
  /* Otros estilos según sea necesario */
  .disponible {
    background-color: green;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 5px !important;
    width: min-content;
}

.agotado {
    width: min-content;
    background-color: red;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
}

.subtitulo-producto{
    color: #555;
    font-size: small;
}

#orden {
    position: relative;
    top: -10px;
    left: 110px;
}

.product-item {
    transition: transform 0.3s; /* Transición suave */
}
  
.product-item:hover {
    transform: scale(1.05); /* Escalar ligeramente el elemento al pasar el mouse sobre él */
}

.btn-primary:hover {
    background-color: #002751; /* Cambiar a un tono de azul más oscuro */
}