
<app-navbar></app-navbar>
<div id="carouselExampleIndicators" class="carousel slide ">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../../assets/fifa.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/gta 6.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/computadora banner.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>



<div class="button-container fade-in">
  <div class="circle-button">
      <img src="../../../../assets/bt1.jpeg" alt="Botón 1">
      <p class="button-text">DEPORTES</p>
    </div>

    <div class="circle-button">
      <img src="../../../../assets/bt2.jpeg" alt="Botón 2">
      <p class="button-text">ACCION</p>
    </div>

    <div class="circle-button">
      <img src="../../../../assets/bt3.jpeg" alt="Botón 3">
      <p class="button-text">ARCADE</p>
    </div>

    <div class="circle-button">
      <img src="../../../../assets/bt4.jpeg" alt="Botón 4">
      <p class="button-text">AVENTURA</p>
    </div>

    <div class="circle-button">
      <img src="../../../../assets/bt5.jpeg" alt="Botón 5">
      <p class="button-text">MUSICA</p>
    </div>
  </div>

  <br>

  <section class="portafolio section-padding">
    <div class="row">
        <!-- Portfolio Card 1 -->
        <div class="col">
            <div class="card text-light text-center bg-white pb-2">
                <div class="card-body text-black">
                    <div class="img-area mb-4">
                        <img src="../../../../assets/FT1.jpg" class="img-fluid" alt="Project 1" />
                    </div>
                    <h3>Experiencias</h3>
                    <p class="lead">Comparte tus propias experiencias en un mundo de videojuegos</p>
                </div>
            </div>
        </div>
        <!-- Portfolio Card 2 -->
        <div class="col">
            <div class="card text-light text-center bg-white pb-2">
                <div class="card-body text-black">
                    <div class="img-area mb-4">
                        <img src="../../../../assets/FT2.jpg" class="img-fluid" alt="Project 2" />
                    </div>
                    <h3>Sugerencias</h3>
                    <p class="lead">Descubre los mejores componentes y accesorios para tu computadora.</p>
                </div>
            </div>
        </div>
        <!-- Portfolio Card 3 -->
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-light text-center bg-white pb-2">
                <div class="card-body text-black">
                    <div class="img-area mb-4">
                        <img src="../../../../assets/FT6.jpg" class="img-fluid" alt="Project 3" />
                    </div>
                    <h3>Virtudes</h3>
                    <p class="lead">Priorizamos tu comodidad con productos para el alcance de todos.</p>
                </div>
            </div>
        </div>
    </div>
</section>
  <app-footer></app-footer>
 


  






